<head>
    <meta charset="UTF-8">
    <title>Short URL conversion page </title>
    <link th:rel="stylesheet"  th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet"  th:href="@{/webjars/sweetalert2/10.13.2/dist/sweetalert2.min.css} "/>

    <link th:href="@{//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css}" rel="stylesheet">
    <link th:rel="stylesheet"  th:href="@{/webjars/datatables/1.10.19/css/jquery.dataTables.min.css}" rel="stylesheet">
    <link th:rel="stylesheet"  th:href="@{/webjars/datatables/1.10.19/css/dataTables.semanticui.min.css}" rel="stylesheet">
</head>
